{% extends 'base.html' %}

{% block title %}
update post
{% endblock title %}

{% block content %}
    <div class="container float-left">
        <div class= "col-sm">
            <div class="card mt-2 " style="width: 24rem;">
                <div class="card-header">
                    <h3>Update Album </h3>
                </div>
                <div class="card-body pl-3">
                    <form action="" method="POST" class="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form}}
                        <button type='submit' class="btn btn-primary btn-sm mt-2">Update</button>
                    </form>
                </div>
            <div>
        </div>
    </div>
{% endblock content %}