{% extends 'base.html' %}

{% block title %}
delete post
{% endblock title %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if 'warning' in message.tags %}
                <div class>
                    <div class="header">
                        {{message}}
                    </div>
                </div>
            
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if not messages %}
        <div class="ui segement">
            <h3>Delete Post?</h3>
            <form action="" method="POST">
                {% csrf_token %}
                <p>Are you sure you want to delete this post?</p>
                <button type='submit'>Submit</button>
            </form>
        </div>
    
    {% endif %}

{% endblock content %}