<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Listener</h1> <img src="https://i.imgur.com/K3P1NcR.png" width="70" height="70"> 
  <p>Welcome to Paul's Music Site</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Login</h3> 
      <div class="card" style="width: 20rem;">
        <div class="card-body pl-2">
        <form class = "site-form pl-2" action="/accounts/login/" method ="POST">
          {% csrf_token %}
          {{form}}
          <input type = "submit" value="Login">
        </form>
        </div>
      </div>
     </div>
    <div class="col-sm-4">    
      <h4>Please Login to access your account</h4>
    </div>
  </div>
</div>

</body>
</html>