<div class="container">
    <div class="main-body">
      <div class="row">
        <div class="col-md-4 mb-3">
          <br>
          <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{object.profile_img.url}}" width="200" height="200" class="rounded">
                    <div class="mt-3">
                      <h4>{{object.user}}</h4>
                    </div>
                    <br></br>
                    {% if object.user not in rel_receiver and object.user not in rel_sender %}
                      <form action="{% url 'accounts:send_invite' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value={{object.pk}}>
                        <button type="submit"class="btn btn-outline-primary">Follow</button>  
                      </form>
                    {% endif %}
                              
                    {% if object.user in rel_receiver and request.user not in object.friends.all %}
                      <button type="submit" class="btn btn-info btn-sm mt-2">Request Pending</button>
                    {% endif %}
  
                    {% if request.user in object.friends.all %}
                      <form action="{% url 'accounts:remove_friend' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value={{object.pk}}>
                        <button type="submit" class="btn btn-outline-danger btn-sm mt-2">Remove from Friends</button>
                      </form>
                    {% endif %}
                </div>
              </div>
            </div>
  
              
                    <div class="card mt-3">
                        <div class="card-body">
                              
                            <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-1">Friends:</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{object.get_friends_no}}
                            </div>
                            </div>
                              
                              <hr>
                              
                            <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-1">No of Posts:</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{object.get_post_no}}
                            </div>
                        </div>
                    </div>
                </div>
                
              
      </div>    
  
          
            <div class="col-md-8">
                      {% if len_posts %}
                            {% for post in posts %}
                                <div class="card mb-3 mt-4">
                                    <div class="card-body">
                                        <h6>{{post.content}}</h6>
                                    </div>
                                </div> 
                            {% endfor %}
                            
                      {% else %}
                        <div class="card mb-3 mt-4">
                            <div class="card-body">
                                <h5>No Posts from this user</h5>
                            </div>
                        </div>  
                      {% endif %}
                  </div>
                </div>
            </div>
          
              <div class="col-md-8">
                <div class="card h-100">
                  <div class="card-body">
              
                    <h6 class="d-flex align-items-center mb-2 mt-2"></i>Your Favourite artists:</h6>  
                        <hr>
                      <div class="float-left mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                          <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                      </div>
                      <p>{{object.artist.artist_name}}</p>
                        <hr>
                      <div class="float-left mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                          <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                      </div>
                      <p>{{object.artist.artist_name2}}</p>
                      <hr>
                      <div class="float-left mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                          <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                      </div>
                      <p>{{object.artist.artist_name3}}</p>
                      <hr>
                      <div class="float-left mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                          <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                      </div>
                      <p>{{object.artist.artist_name4}}</p>
                      <hr>
                      <div class="float-left mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                          <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                      </div>
                      <p>{{object.artist.artist_name5}}</p>
                  </div>
                </div>
              </div>
             
      
              <div class="col mb-3 mt-3 ">
                <div class="card h-70">
                  <div class="card-header">
                      <h6 class="d-flex align-items-center mt-2"></i>{{object.user}}'s Favourite Album:</h6>
                  </div>
                  <div class="card-body">
  
                    <p>{{object.album.album_name}} - {{object.album.album_artist}}:</p>
                    <img src="{{object.album.album_art.url}}" width="100" height="100" class="rounded float-left">
                   
  
                    </div>
                  </div>
                </div>
              </div>
  </div>