{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Landing Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Listener</h1> <img src="https://i.imgur.com/K3P1NcR.png" width="70" height="70"> 
  <p>Welcome to Paul's Music Site</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Register</h3>
      <form action="/action_page.php">
        <div class="form-group">
            <label for="text">First name:</label>
            <input type="text" class="form-control" id="firstname">
          </div>
          <div class="form-group">
            <label for="text">Last name:</label>
            <input type="text" class="form-control" id="lastname">
          </div>
          <div class="form-group">
            <label for="text">Username:</label>
            <input type="text" class="form-control" id="username">
          </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd">
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>      
    </div>

    <div class="col-sm-4">
      <h3>Login</h3>
      <div class="form-group">
        <label for="text">Username:</label>
        <input type="text" class="form-control" id="username">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div>
      <button type="submit" class="btn btn-secondary">Submit</button>
    </form> 
    </div>

    <div class="col-sm-4">    
      <h3>Please register or login to preceed to your User Profile</h3>
    </div>
  </div>
</div>

</body>
</html>
